*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
.link {
  list-style: none;
}
.head {
  width: 1600px;
  height: 80px;
  margin-top: 24px;
  border-bottom: 1px solid #ffffff;
  background-color: aqua;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.head-box {
  display: flex;
  align-items: center;

  /* margin-bottom: 0px;
  margin-right: 0px; */
}

.navigation {
  /* display: flex; */
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #2196f3;
  width: 145px;
  height: 31px;
}

.logo-studio {
  color: #000000;
}
.logo-link:focus,
.logo-link:hover {
  text-decoration: underline;
}
/* logo end */
.menu {
  display: flex;
  margin-left: 93px;
}
.menu .menu-item + .menu-item {
  margin-left: 50px;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.menu-link-activ {
  color: #2196f3;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}
.contakt {
  display: flex;
  margin-left: auto;
}
.mailto-link {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.mailto-link:hover,
.mailto-link:focus {
  color: #2196f3;
}

.tel-link {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.contakt .contakt-item + .contakt-item {
  margin-left: 50px;
}
/* ==================hero section============= */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-hero {
  width: 1600px;
  height: 600px;
  margin: 0px;
  padding: 0px;
  background-color: #2f303a;
}
.hero-title {
  padding-top: 191px;

  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-btn {
  display: flex;
  align-items: center;
  text-align: center;

  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  border: 1px solid #000000;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}

/* identical to box height, or 187% */
/*========================END HERO=================*/

/*=========================ПОЧЕМУ МЫ===================*/
.why-we-section {
  width: 1600px;
  height: 102px;
  /* padding: 0;
  margin: 0; */
  background: coral;
}
.why-we {
  display: flex;
  justify-content: space-between;
}
.why-we-title {
  /* margin-bottom: 50px; */

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.why-we-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.why-we-block:not(:last-child) {
  margin-right: 30px;
}
/*==================END WHY WE=================*/

/*================= ACTIVITIES ==================*/
.activities {
  width: 1600px;
  height: 386px;
  background: chartreuse;
}

.activities-title .team-title {
  font-family: "Roboto", sans-serif;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.activities-title {
  padding-left: 412px;
  margin-bottom: 50px;
}
.activities-img {
}
.activities-list {
  display: flex;
  justify-items: baseline;
  justify-content: space-between;
}
.activities-list:not(:last-child) {
  margin-right: 30px;
}
/*=============== AND ACTIVITIES ==========*/

/*=================TEAM SECTION==============*/
.team-section {
}
.team-group {
  width: 1600px;
  height: 648px;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-participant {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-participant-prof {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.logo-footer {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.address-post {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: #ffffff; */
}
.address-mail {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: rgba(255, 255, 255, 0.6); */
}
.address-tel {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: rgba(255, 255, 255, 0.6); */
}
.menu-scills {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.client-title {
  font-family: "Roboto", sans-serif;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.client-order {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
.logo-studio-footer {
  /* color: #ffffff; */
}
