.list {
  text-decoration: none;
}
.link {
  list-style: none;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}
/* logo end */
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}
.menu-link-b {
  color: #2196f3;
}
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}
.mailto-link {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}
.tel-link {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
/* ====hero section==== */
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* color: #ffffff; */
}
.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;

  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;
}
.why-we-title {
  font-family: "Roboto", sans-serif;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.why-we-text {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.activities-title.team-title {
  font-family: "Roboto", sans-serif;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-participant {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-participant-prof {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.logo-footer {
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.address-post {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: #ffffff; */
}
.address-mail {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: rgba(255, 255, 255, 0.6); */
}
.address-tel {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: rgba(255, 255, 255, 0.6); */
}
.menu-scills {
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.client-title {
  font-family: "Roboto", sans-serif;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.client-order {
  font-family: "Roboto", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}
.logo-studio-footer {
  /* color: #ffffff; */
}
